.cart__backdrop {
    background-color: rgba(37, 36, 36, 0.424);
    width: 100%;
    height: 100vh;
    z-index: 20;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cart__container {
    background-color: #fff;
    height: 100vh;
    float: right;
    border-radius: 30px 0 0 30px;
    padding: 40px 10px;
    overflow: auto;
    position: relative;
}

.cart__container p {
    font-size: 30px;
    font-weight: normal;
    margin-left: 10px;
    cursor: pointer;
}

.item_container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 30px;
}

.cart__container a {
    background: orange;
    padding: 20px;
    text-decoration: none;
    border-radius: 36px;
    color: #fff;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 30px;
}

@media (max-width: 700px) {
    .cart__container {}

}