.item_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    max-width: 1200px;
}

@media (max-width: 1070px) {

    .item_list {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 672px) {

    .item_list {
        grid-template-columns: repeat(1, 1fr);
    }
}